/*    ESTILOS GENERALES DEL FOOTER     */

footer { 
    font-size: 15px;
  padding-top: 70px;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  h3 {
    font-size: 20px;
  } .line {
    border-top-style: ridge;
    width: 50%;
    height: 1px;
    padding-bottom: 20px;
  }
  
  .logos {
    width: 30px;
  } .email {
    padding-bottom: 20px;
  }
   h4 {
    font-size: 20px;
  }
  .containerFooter {
    text-align: center;
    
    .linkIg {
      text-decoration: none;
      text-align: center;
      color: white;
    }
    .derechos {
        font-size: 10px;
        padding-top: 20px;
    }
  }
}

/*   FIN DE ESTILOS GENERALES DEL FOOTER     */
