/*  ESTILOS DEL MAIN   */

.container {
  .intro {
    font-size: 30px;
    padding-top: 120px;
  } .destacados {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 120px;
    h2 {
      font-size: 40px;
    }
  } .summer {
    display: flex;
    flex-direction: column;
    align-content: center;
    padding-top: 30px;
    padding-bottom: 80px;
  } .productos-destacados {
     padding-top: 150px; 
     .div-prod { 
       display: flex;
       flex-direction: column;
       align-items: center;
       text-align: center;
       border-style: ridge;
       margin-bottom: 70px;
        padding-top: 50px;       

      .productos {
        width: 30%;
        
      } .indumentaria {
       font-size: 20px;
       margin-top: 20px;
       
     } .precio {
      font-size: 19px;
      color: red;
    } .buttonAgregar {
       font-size: 18px;
       background-color: red;
       margin-bottom: 20px;
       color: white; 
     }

    }
     
  } 
}
  
  
/*   FIN DE ESTILOS GENERALES DEL MAIN   */


@media screen and (max-width: 600px) {
  .intro {
    display: none;
  } 
  
}