/*  ESTILOS DE PRODUCTOS HTML     */

.container {
  display: grid;
  grid-template-areas:
    "header header"
    "nav nav"
    "main main"
    "footer footer";
  justify-content: center;

  header {
    grid-area: header;
    h1 {
      background-color: black;
      color: white;
      text-align: center;
    }

    .logo {
      width: 50%;
      animation-name: escalar;
      animation-iteration-count: infinite;
      animation-duration: 15s;
      animation-timing-function: linear;
      transform: scale();
    }

    @keyframes escalar {
      from {
        transform: scale(1);
      }

      to {
        transform: scale(1.3);
      }
    }
  }
  nav {
    grid-area: nav;
    align-items: center;
  }
  main {
    grid-area: main;
    background-color: white;

    .titulo {
      font-size: 40px;
      padding-top: 100px;
      padding-bottom: 100px;
    }

    .nuestros-productos {
      font-size: 20px;
      display: flex;
      flex-direction: column;
      .divContenedor {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-style: ridge;
        margin-bottom: 30px;
        .foto {
          width: 30%;
          padding-top: 40px;
        }  .precio {
          font-size: 19px;
          color: red;
        } .buttonAgregar {
           font-size: 18px;
           background-color: red;
           margin-bottom: 20px;
           color: white; 
        }
      }
      
      
      
    }
    .section {
      display: flex;
      flex-direction: column;
      align-content: center;
      .shippin {
        width: 100px;
        padding-top: 70px;
        padding-bottom: 70px;
      }
      .envio {
        font-size: 20px;
        padding-bottom: 70px;
      }
    }
  }
  footer {
    grid-area: footer;
  }

  
}
