/*     ESTILOS DE UBICACION HTML       */

body{
    main {
        .direccion {
            font-size: 30px;
            padding-top: 50px;
            padding-bottom: 50px;
        }

        .mapa {
            width: 80%;
        }

     
    }
    
    
}


/* FIN DE ESTILOS DE UBICACION HTML     */

